%h1 All Movies

%table#movies
  %thead
    %tr
      %th.title_header Title
      %th Rating
      %th Release Date
      %th More Info
  %tbody
    - @movie.each do |movie|
      %tr
        %td= movie.title
        %td= movie.rating
        %td= movie.release_date
        %td= movie.description
%br
%br
%a{:href => '/add'}  Add new movie
%br
%br

