%h1.title Rotten Potatoes!
#main
%h2 All Movies
%table
  =@movie.each do |m|
    %th=Movie title
    %th=Rating
    %th=Release date
    %th=Description
    %tr
      %td= m.title
      %td= m.title
      %td= m.title
      %td= m.description
