%html
  %head
    %meta{ :charset => "utf-8" }
    %link{:rel=>"stylesheet", :href=>"/css/style.css"}
    %script{:type => "text/javascript", :src  => "/js/lib/jquery-1.7.1.js"}
    %script{:type => "text/javascript", :src  => "/js/lib/underscore.js"}
    %script{:type => "text/javascript", :src  => "/js/lib/backbones.js"}
    %script{:type => "text/javascript", :src  => "/js/views/views.js"}
    %script{:type => "text/javascript", :src  => "/js/models/models.js"}
    %script{:type => "text/javascript", :src  => "/js/collections/collections.js"}
    %title Rotten potatoes with HAML and Backbones.js
  %body
    =yield